.titleContainer {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    padding-bottom: 2rem;
    flex-direction: column;
    justify-content: center;

}

.title {
    color: var(--t-white);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}

.subtitle {
    color: var(--t-gray-body);
    font-size: 14px;
}