.titleContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 2rem;

}

.title {
    color: var(--t-white);
    font-size: 66px;
    text-transform: uppercase;
    font-weight: 500;
}