.linksGeneralContainer {
    display: inline-flex;
    background-color: var(--bk-container);
    width: 100%;
    height: 60px;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.103);
    margin-bottom: 40px;
}

.linksWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

ul {
    display: inline-flex;
    justify-content: center;
    gap: 50px;
    color: white;
    text-transform: uppercase;
    
}

a {
    font-size: 8px;
}

.linkText {
    font-size: 1rem;
    font-weight: 500;

}