.linksGeneralContainer {
    display: inline-flex;
    background-color: var(--bk-container);
    width: 98%;
    height: 80px;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.103);
    margin-bottom: 20px;
}

.linksWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

}

ul {
    display: inline-flex;
    justify-content: center;
    gap: 35px;
    color: white;
    text-transform: uppercase;
    
}

a {
    font-size: 8px;
}

.linkText {
    font-size: 1rem;
    font-weight: 500;

}

/* .linkText:hover {
    color: var(--t-hoover-menu);
} */