.logoContainer {
    height: 130px;
} 

.linksWrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4rem;
}

.mainMenu {
    ul {
        display: flex;
        align-items: center;
        gap: 4.5rem;
    }

    li {
        line-height: 2.4rem;
        font-weight: 500;
        color: var(--t-grey-menu);
        text-transform: uppercase;
    }
}

.menuFooter {
    font-size: 1rem;
}

.copywright {
    font-size: 1rem;
    color: var(--t-grey-menu);
    margin-top: 3rem;
    margin-bottom: 2rem;
}