@font-face {
  font-family: "inter";
  src: url()
}


:root {
  --bk-primary: #0F0F0F;
  --bk-menu-button: #323232;
  --t-white: #FFFFFF;
  --t-grey-menu: #676767;
  --t-blue: #5B78F6;
  --t-gray-body: #BCBCBC80;

}

#root {
  padding-left: 10vw;
  padding-right: 10vw;
}

html {
  font-size: 16px;
  font-size: 62.5%;
}

* {
  background-color: #0F0F0F;
  font-family: "Inter";
  box-sizing: border-box;
  
  
}

a {
  text-decoration: none;
  color: inherit;
}
